@model IEnumerable<FitSharp.Models.AdminEditUserViewModel>

@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />

<div class="row mt-1">
    <div class="col-12">
        <div class="card transparent-card">
            <div class="card-header">
                <h3 class="card-title">
                    Users <button type="button" class="btn btn-primary btn-lg ml-3 roundedwithshadow" data-toggle="modal" data-target="#registerUserModal">
                        <i class="fa fa-user-plus"></i>
                    </button>
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Role</th>
                            <th>Is Active</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="Search Name" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Email" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Address" class="form-control" /></th>
                            <th><input type="text" placeholder="Search City" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Country" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Role" class="form-control" /></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Fullname</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.CityName</td>
                                <td>@item.CountryName</td>
                                <td>@item.Role</td>
                                
                                <td>
                                    @if (item.IsActive)
                                    {
                                        <div class="text-center">
                                            <i class="far fa-check-square fa-lg"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            <i class="far fa-square fa-lg"></i>
                                        </div>
                                        
                                    }
                                </td>

                                <td>
                                    <a asp-action="EditUser" asp-route-id="@item.UserId" class="btn btn-warning"><i class="far fa-edit"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info"><i class="fas fa-list"></i></a>
                                    @if (item.Role != "Admin")
                                    {
                                        <a asp-action="DisableUser" data-id="@item.UserId" class="btn btn-danger btnDisable"><i class="fas fa-user-alt-slash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
</div>

<div id="registerUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content roundedwithshadow">
            <div class="modal-header">
                <h5 class="modal-title" id="registerUserModalLabel">Select User Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please select the type of user you wish to register:</p>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" onclick="redirectTo('Admin/RegisterAdmin')">
                        <i class="fas fa-user-shield"></i> Admin
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" onclick="redirectTo('Admin/RegisterEmployee')">
                        <i class="fas fa-briefcase"></i> Employee
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" onclick="redirectTo('Admin/RegisterInstructor')">
                        <i class="fas fa-chalkboard-teacher"></i> Instructor
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" onclick="redirectTo('Admin/RegisterCustomer')">
                        <i class="fas fa-user"></i> Customer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="disableDialog" class="modal fade roundedwithshadow">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Disable</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to disable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDisable">Disable</button>
                <button type="button" class="btn btn-success" id="btnNoDisable">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;
            $('a.btnDisable').click(function () {
                id = $(this).data('id');
                $("#disableDialog").modal('show');
                return false;
            });

            $("#btnNoDisable").click(function () {
                $("#disableDialog").modal('hide');
                return false;
            });

            $("#btnYesDisable").click(function () {
                window.location.href = '/Admin/DisableUser/' + id;
            });

            var table = $('#MyTable').DataTable({
                orderCellsTop: true,
                initComplete: function () {
                    var api = this.api();

                    api.columns().every(function () {
                        var column = this;
                        $('input', $(column.header()).closest('thead').find('tr:eq(1) th').eq(column.index())).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });

        function redirectTo(actionUrl) {
            window.location.href = '/' + actionUrl;
        }
    </script>
}
