@model IEnumerable<FitSharp.Data.Entities.GroupClass>

@{
    ViewData["Title"] = "CustomerGroupClasses";
    var loggedInCustomerId = ViewBag.LoggedInCustomerId; // Supondo que o ID do customer logado é passado via ViewBag
}

@section Styles {
    <style>
        body {
            background: url('https://aircinelmvc.blob.core.windows.net/resources/fitsharp2.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
}


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<div class="row">
    <div class="col-12">
        <div class="card transparent-card">
            <flash dismissable="true" />

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="classFilter">Filter Classes:</label>
                    <select id="classFilter" class="form-control">
                        @foreach (var item in (List<SelectListItem>)ViewBag.CurrentFilter)
                        {
                            <option value="@item.Value" selected="@(item.Selected ? "selected" : null)">@item.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="card-header">
                <h3 class="card-title">Your Group Classes</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Gym</th>
                            <th>Room</th>
                            <th>Instructor</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Available Spots</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="Search Class" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Gym" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Room" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Instructor" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Start Time" class="form-control" /></th>
                            <th><input type="text" placeholder="Search End Time" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Spots" class="form-control" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Room.Gym.Name)
                                        <a asp-controller="Home" asp-action="GymDetails" asp-route-id="@item.Room.Gym.Id" class="btn text-logo-primary">
                                            (View Details)
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Room.Name)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Instructor.User.FullName)
                                        <a asp-controller="Home" asp-action="InstructorDetails" asp-route-id="@item.Instructor.Id" class="btn text-logo-primary">
                                            (View Details)
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                    <td>@item.AvailableSpots</td>
                                    <td>

                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>

                                        @if (item.EndTime > DateTime.Now)
                                        {
                                            @if (!item.Customers.Any(c => c.User.UserName == User.Identity.Name))
                                            {
                                                <a asp-action="SignUp" asp-route-id="@item.Id" asp-route-returnUrl="CustomerGroupClasses" asp-route-username="@User.Identity.Name" class="btn btn-warning"><i class="fas fa-user-plus"></i></a>
                                            }
                                            @if (item.Customers.Any(c => c.User.UserName == User.Identity.Name))
                                            {
                                                <a asp-action="CancelSignUp" asp-route-id="@item.Id" asp-route-returnUrl="CustomerGroupClasses" asp-route-username="@User.Identity.Name" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">No group classes found for this customer.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Aplica o filtro imediatamente ao mudar a seleção no dropdown
            $('#classFilter').change(function () {
                var selectedFilter = $(this).val();
                var userName = '@User.Identity.Name';
                window.location.href = '@Url.Action("CustomerGroupClasses")' + '?filter=' + selectedFilter + '&username=' + userName;
            });

            // Inicializar DataTable com pesquisa individual por coluna
            var table = $('#MyTable').DataTable({
                orderCellsTop: true,
                initComplete: function () {
                    var api = this.api();

                    // Aplicar o filtro para cada coluna com base na segunda linha do thead
                    api.columns().every(function () {
                        var column = this;
                        $('input', $(column.header()).closest('thead').find('tr:eq(1) th').eq(column.index())).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
}
