@model IEnumerable<FitSharp.Data.Entities.Customer>
@{
    ViewData["Title"] = "CustomersInformations";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />

<div class="row mt-1">
    <div class="col-12">
        <div class="card transparent-card">
            <div class="card-header">
                <h3 class="card-title">
                    Customers Informations
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Photo</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Membership</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="Search Name" class="form-control" /></th>
                            <th></th>
                            <th><input type="text" placeholder="Search Email" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Phone" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Address" class="form-control" /></th>
                            <th><input type="text" placeholder="Search City" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Country" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Membership" class="form-control" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.User.FullName</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.User.ImageFullPath))
                                    {
                                        <img src="@Url.Content(item.User.ImageFullPath)" alt="@item.User.FullName" style="width: 50px; height: auto; max-width:100%;" />
                                    }
                                </td>
                                <td>@item.User.Email</td>
                                <td>@item.User.PhoneNumber</td>
                                <td>@item.User.Address</td>
                                <td>@item.User.City.Name</td>
                                <td>@item.User.City.Country.Name</td>
                                <td>@(item.Membership != null ? item.Membership.Name : "No Membership")</td>
                                <td>
                                    <a href="@Url.Action("DownloadQRCodePdf", "Account", new { userName = item.User.UserName })" class="btn btn-secondary mt-3 roundedwithshadow" style="background-color: #808080">
                                        <i class="fas fa-download"></i> Download QR Code PDF
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {   
            var table = $('#MyTable').DataTable({
                orderCellsTop: true,
                initComplete: function () {
                    var api = this.api();
                    api.columns().every(function () {
                        var column = this;
                        $('input', $(column.header()).closest('thead').find('tr:eq(1) th').eq(column.index())).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
}