@model IEnumerable<FitSharp.Data.Entities.Gym>
@{
    ViewData["Title"] = "OurGyms";
}

<div class="transparent-card">
    <h1 class="text-center mb-4">Our Gyms</h1>
    <div class="row">
        @foreach (var gym in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card transparent-card h-100">
                    <div class="card-body text-center">
                        <img src="@gym.ImageFullPath" alt="@gym.Name" class="rounded mb-3" style="width: 250px; height: 250px; object-fit: cover;">

                        <h4 class="card-title">@gym.Name</h4>

                        <p class="text-muted">@gym.Address</p>

                        <p class="text-warning">
                            @for (var i = 0; i < (int)gym.Rating; i++)
                            {
                                <i class="fas fa-star text-shadow"></i>
                            }
                            @if (gym.Rating % 1 > 0)
                            {
                                <i class="fas fa-star-half-alt text-shadow"></i>
                            }
                            <br />
                            <span class="text-muted"> (Rating: @gym.Rating.ToString("0.0"))</span>
                        </p>

                        @if (this.User.Identity.IsAuthenticated && (this.User.IsInRole("Customer")))
                        {
                            <a asp-controller="Home" asp-action="GymDetails" asp-route-id="@gym.Id" class="btn text-logo-primary">
                                View Details
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <a href="~/Home/Index" class="btn btn-primary btn-lg mt-3 roundedwithshadow">
            <i class="fas fa-home"></i> Return Home
        </a>
    </div>
</div>
