@model IEnumerable<FitSharp.Data.Entities.Customer>
@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<br />

<div class="row mt-1">
    <div class="col-12">
        <div class="card transparent-card">
            <div class="card-header">
                <h3 class="card-title">
                    Select Customer
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Photo</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="text" placeholder="Search Name" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Email" class="form-control" /></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.User.FullName</td>
                                <td>@item.User.Email</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.User.ImageFullPath))
                                    {
                                        <img src="@Url.Content(item.User.ImageFullPath)" alt="@item.User.FullName" style="width: 50px; height: auto; max-width:100%;" />
                                    }
                                </td>
                                <td>
                                    <a asp-action="CreatePersonalClass" asp-route-customerId="@item.Id" class="btn btn-warning">
                                        <i class="fas fa-people-arrows fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#MyTable').DataTable({
                orderCellsTop: true,
                initComplete: function () {
                    var api = this.api();

                    api.columns().every(function () {
                        var column = this;
                        $('input', $(column.header()).closest('thead').find('tr:eq(1) th').eq(column.index())).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
}
