@model IEnumerable<FitSharp.Data.Entities.PersonalClass>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <style>
        body {
            background: url('https://aircinelmvc.blob.core.windows.net/resources/fitsharp1.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />



<div class="row">
    <div class="col-12">
        <div class="card transparent-card">
            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Instructor"))
            {
                <div class="text-center">
                    <a asp-action="Create" class="btn btn-primary roundedwithshadow"><i class="fa fa-save shadow-lg"></i> Create Class for Customer</a>
                    <a asp-action="CreatePersonalClass" class="btn btn-primary roundedwithshadow"><i class="fa fa-save shadow-lg"></i> Create Open Class</a>
                </div>
            }
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="classFilter">Filter Classes:</label>
                    <select id="classFilter" class="form-control">
                        @foreach (var item in (List<SelectListItem>)ViewBag.CurrentFilter)
                        {
                            <option value="@item.Value" selected="@(item.Selected ? "selected" : null)">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="card-header">
                <h3 class="card-title">Personal Classes</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <!-- Primeira linha: Títulos das colunas com ordenação -->
                        <tr>
                            <th>Class</th>
                            <th>Room</th>
                            <th>Class Type</th>
                            <th>Instructor</th>
                            <th>Customer</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th></th>
                        </tr>
                        <!-- Segunda linha: Campos de pesquisa por coluna -->
                        <tr>
                            <th><input type="text" placeholder="Search Class" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Room" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Class Type" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Instructor" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Customer" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Start Time" class="form-control" /></th>
                            <th><input type="text" placeholder="Search End Time" class="form-control" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Room.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.ClassType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Instructor.User.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Customer.User.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>


                                    @if (item.StartTime > DateTime.Now && this.User.Identity.IsAuthenticated && this.User.IsInRole("Instructor"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>

                                    <a href="#" data-id="@item.Id" class="btn btn-danger btnDelete"><i class="fas fa-trash"></i></a>

                                    } 

                                    


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
            </div>
        </div>
    </div>
</div>


<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this personal class?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
                <button type="button" style="background-color: #808080" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Aplica o filtro imediatamente ao mudar a seleção no dropdown
            $('#classFilter').change(function () {
                var selectedFilter = $(this).val();
                window.location.href = '@Url.Action("Index")' + '?filter=' + selectedFilter;
            });

            // Configuração do diálogo de delete
            var id = 0;
            $('a.btnDelete').click(function () {
                id = $(this).data('id');
                $("#deleteDialog").modal('show');
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/PersonalClasses/Delete/' + id;
            });

            // Inicializar DataTable com pesquisa individual por coluna
            var table = $('#MyTable').DataTable({
                orderCellsTop: true,
                initComplete: function () {
                    var api = this.api();

                    // Aplicar o filtro para cada coluna com base na segunda linha do thead
                    api.columns().every(function () {
                        var column = this;
                        $('input', $(column.header()).closest('thead').find('tr:eq(1) th').eq(column.index())).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
}
