@model IEnumerable<FitSharp.Data.Entities.PersonalClass>
@{
    ViewData["Title"] = "UpcomingPersonalClasses";
}

<div class="row">
    <div class="col-12">
        <div class="card transparent-card">
            <flash dismissable="true" />

            <div class="card-header">
                <h3 class="card-title">Personal Classes</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <!-- Primeira linha: Títulos das colunas com ordenação -->
                        <tr>
                            <th>Class</th>
                            <th>Gym</th>
                            <th>Room</th>
                            <th>Instructor</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th></th>
                        </tr>
                        <!-- Segunda linha: Campos de pesquisa por coluna -->
                        <tr>
                            <th><input type="text" placeholder="Search Class" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Gym" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Room" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Instructor" class="form-control" /></th>
                            <th><input type="text" placeholder="Search Start Time" class="form-control" /></th>
                            <th><input type="text" placeholder="Search End Time" class="form-control" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Room.Gym.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Room.Name)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Instructor.User.FullName)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                <td>
                                    @if (item.EndTime > DateTime.Now && this.User.IsInRole("Customer"))
                                    {
                                        <a asp-action="SignUp" asp-route-id="@item.Id" asp-route-returnUrl="UpcomingPersonalClasses" class="btn btn-warning"><i class="fas fa-user-plus"></i></a>
                                    }
                                    else if (item.Customer?.User.UserName == User.Identity.Name && this.User.IsInRole("Customer"))
                                    {
                                        <a asp-action="CancelSignUp" asp-route-id="@item.Id" asp-route-returnUrl="UpcomingPersonalClasses" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>

                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Inicializar DataTable com pesquisa individual por coluna
            var table = $('#MyTable').DataTable({
                orderCellsTop: true,
                initComplete: function () {
                    var api = this.api();

                    // Aplicar o filtro para cada coluna com base na segunda linha do thead
                    api.columns().every(function () {
                        var column = this;
                        $('input', $(column.header()).closest('thead').find('tr:eq(1) th').eq(column.index())).on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
}